@page
@model Coin.Web.Areas.Accounting.Pages.AccountStatements.CreateModel

<h4>AccountTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountTransaction.AccountStatementId" class="control-label"></label>
                <select asp-for="AccountTransaction.AccountStatementId" class ="form-control" asp-items="ViewBag.AccountStatementId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AccountTransaction.TransactionTime" class="control-label"></label>
                <input asp-for="AccountTransaction.TransactionTime" class="form-control" />
                <span asp-validation-for="AccountTransaction.TransactionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountTransaction.RecordedDate" class="control-label"></label>
                <input asp-for="AccountTransaction.RecordedDate" class="form-control" />
                <span asp-validation-for="AccountTransaction.RecordedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountTransaction.AccountTransactionStatusId" class="control-label"></label>
                <select asp-for="AccountTransaction.AccountTransactionStatusId" class ="form-control" asp-items="ViewBag.AccountTransactionStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AccountTransaction.Amount" class="control-label"></label>
                <input asp-for="AccountTransaction.Amount" class="form-control" />
                <span asp-validation-for="AccountTransaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountTransaction.Payee" class="control-label"></label>
                <input asp-for="AccountTransaction.Payee" class="form-control" />
                <span asp-validation-for="AccountTransaction.Payee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountTransaction.Description" class="control-label"></label>
                <input asp-for="AccountTransaction.Description" class="form-control" />
                <span asp-validation-for="AccountTransaction.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountTransaction.AccountTransactionTypeId" class="control-label"></label>
                <select asp-for="AccountTransaction.AccountTransactionTypeId" class ="form-control" asp-items="ViewBag.AccountTransactionTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
