@page
@model Coin.Web.Areas.Accounting.Pages.AccountStatements.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>AccountStatement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountStatement.AccountId" class="control-label"></label>
                <select asp-for="AccountStatement.AccountId" class ="form-control" asp-items="ViewBag.AccountId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AccountStatement.PeriodStart" class="control-label"></label>
                <input asp-for="AccountStatement.PeriodStart" class="form-control" />
                <span asp-validation-for="AccountStatement.PeriodStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountStatement.PeriodEnd" class="control-label"></label>
                <input asp-for="AccountStatement.PeriodEnd" class="form-control" />
                <span asp-validation-for="AccountStatement.PeriodEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountStatement.StartingBalance" class="control-label"></label>
                <input asp-for="AccountStatement.StartingBalance" class="form-control" />
                <span asp-validation-for="AccountStatement.StartingBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
