@page
@model Coin.Web.Areas.Accounting.Pages.AccountTransactionStatuses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountTransactionStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountTransactionStatus.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountTransactionStatus.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AccountTransactionStatus.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.AccountTransactionStatus.Id">Delete</a>
</div>
