@page
@model Coin.Web.Pages.Households.DetailsModel

<div>
    <h4>Household</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Household.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Household.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Household.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Household.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>
