@page
@model Coin.Web.Pages.Households.IndexModel

@{
    ViewData["Title"] = "Household Index";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Household[0].Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Household) {
            <tr class="cursor-hand" data-href="@Url.Page("Details", new { id = item.Id })">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
