@page "{id?}"
@model Coin.Web.Areas.Accounting.Pages.AccountTransactionTypes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AccountTransactionType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountTransactionType.Id" />
            <div class="form-group">
                <label asp-for="AccountTransactionType.Name" class="control-label"></label>
                <input asp-for="AccountTransactionType.Name" class="form-control" />
                <span asp-validation-for="AccountTransactionType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AccountTransactionType.IsIncome" /> @Html.DisplayNameFor(model => model.AccountTransactionType.IsIncome)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
