@page
@model Coin.Web.Areas.Vehicles.Pages.VehicleTypes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>VehicleType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleType.Id" class="control-label"></label>
                <input asp-for="VehicleType.Id" class="form-control" />
                <span asp-validation-for="VehicleType.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleType.Name" class="control-label"></label>
                <input asp-for="VehicleType.Name" class="form-control" />
                <span asp-validation-for="VehicleType.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
